<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container-article">
    <div class="article-main">
      <app-big-card
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ28WA2ZQREgEZ1jva2HNK6hzzNLXtnkxGhG2eCg1bAuw&s"
        cardTitle="NOVO TITULO"
        cardDescription="Descricao da noticia">
      </app-big-card>
    </div>
    <div class="articles-others">
      <app-small-card
        cardTitle="novo titulo"
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ28WA2ZQREgEZ1jva2HNK6hzzNLXtnkxGhG2eCg1bAuw&s"></app-small-card>
      <app-small-card
        cardTitle="novo titulo"
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ28WA2ZQREgEZ1jva2HNK6hzzNLXtnkxGhG2eCg1bAuw&s"></app-small-card>
      <app-small-card
        cardTitle="novo titulo"
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ28WA2ZQREgEZ1jva2HNK6hzzNLXtnkxGhG2eCg1bAuw&s"></app-small-card>
    </div>
</div>
