<div class="container-big-card">
  <div class="big-card-photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ28WA2ZQREgEZ1jva2HNK6hzzNLXtnkxGhG2eCg1bAuw&s"
      alt=""

      width="400px"
    >
  </div>
  <div class="big-card-title">
    <h1><a href="#">Titulo do card noticia</a></h1>

  </div>
  <div class="big-card-description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, delectus ducimus quae quo asperiores autem ratione temporibus, quia enim cum nihil, distinctio illum non alias repellat veniam ipsum voluptates aspernatur.
    </p>
  </div>
  <div class="read-article-button">
    <button class="read-article">Read Article</button>
  </div>

</div>
