.container-big-card{

  border: solid white 2px;
  margin-left: 20px;
  margin-right: 20px;
  width: 500px;
  height: 400px;


  display: flex;
  flex-direction: column;
  align-items: flex-start ;
  justify-content: flex-start;

}

.big-card-title > h1{
  margin-top: 10px;
  font-size: 20px;
}
.big-card-description p{
  margin-top: 10px;
  color: grey;
}
.big-card-photo > img{
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: right;
  justify-content: right;
}
.read-article-button{
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}
.read-article{
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(224, 24, 84), rgb(189, 2, 189));
}
a{
  text-decoration: none;
}
